@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans text-gray-700 bg-white;
}

.btn-primary {
  background-color: rgb(41 122 191);
  @apply px-8 py-4 text-white rounded-md hover:bg-blue-800 transition text-lg leading-[1.55rem] font-bold;
}

.primary-color {
  color: rgb(41 122 191);;
}
